<style>
    .form{
        margin:0px 500px 10px 500px; 
        color:white;
    }

    h2{
        margin:16px 0 31px 0;
    }

    .utama{
        background-color:gray;     
        padding:5% 0 1px 0;        
    }

    .header {
        background-color: gray;
        height: 36px;
        width:100%;        
    }

    .home {
        padding: 20px 0 0 30px;
    }

</style>

<div class="header">
</div>

<div class="utama">
    <div class="form">
        <h2 align="center">Silahkan Daftar</h2>
        <form class="row g-3" method="post" asp-action="KonfirmasiEmail">
            <div class="col-md-12">
                <label for="validationDefault01" class="form-label">Nama Lengkap</label>
                <input type="text" class="form-control" id="Name" name="Name" placeholder="RANDI FIRMANSYAH" required>
            </div>
            <div class="col-md-12">
                <label for="validationDefault02" class="form-label">Password</label>
                <input type="password" class="form-control" id="Password" name="Password" placeholder="3fejFoieew" required>
            </div>
            <div class="col-md-12">
                <label for="validationDefault02" class="form-label">Email</label>
                <input type="text" class="form-control" name="Email" id="Email" placeholder="contoh@mail.com" required>
            </div>
            <input type="hidden" name="Role" value="2" />
            <div class="col-12" align="center">
                <button class="btn btn-success btn-lg" type="submit">Daftar</button>
            </div>
        </form>
        <div align="center" style="margin:20px 0 20px 0;">
            Sudah memiliki akun ?
            <a asp-controller="Home" asp-action="Login">Masuk</a>
        </div>
    </div>
</div>